networks:
  kafka_network:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400
    ipam:
      config:
        - subnet: 172.20.0.0/16

services:
  telegraf:
    image: telegraf:1.28
    container_name: telegraf
    networks:
      kafka_network:
        ipv4_address: 172.20.0.5
    depends_on:
      - influxdb
    environment:
      KAFKA_BROKER: ${KAFKA_BROKER}
      KAFKA_TOPICS: ${KAFKA_TOPICS}
      INFLUX_URL: ${INFLUX_URL}
      INFLUX_TOKEN: ${INFLUX_TOKEN}
      INFLUX_ORG: ${INFLUX_ORG}
      INFLUX_BUCKET: ${INFLUX_BUCKET}
      TELEGRAF_HOSTNAME: ${TELEGRAF_HOSTNAME}
    restart: unless-stopped
    command: telegraf --config ${INFLUX_URL}/api/v2/telegrafs/${TELEGRAF_CONFIG_ID}

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    networks:
      kafka_network:
        ipv4_address: 172.20.0.4
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb-data:/var/lib/influxdb2
      - ./influxdb-config:/etc/influxdb2

  minio:
    image: quay.io/minio/minio
    container_name: minio
    networks:
      kafka_network:
        ipv4_address: 172.20.0.6
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_PASS}
    command: server /data --console-address ":9001"

  s3_consumer:
    build:
      context: .
      dockerfile: Dockerfile.s3consumer
    container_name: s3_consumer
    networks:
      kafka_network:
        ipv4_address: 172.20.0.7
    restart: unless-stopped
    environment:
      - KAFKA_TOPICS=${KAFKA_TOPICS}
      - KAFKA_BROKER=${KAFKA_BROKER}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET=${S3_BUCKET}

volumes:
  influxdb-data:
  minio-data:
